<div class="container">
  <h1 class="text-center">Administrator</h1>
  <%= render "admin/nav_links" %>
  <div class="text-center mt-5">
    <div class="btn-group">
      <%= link_to "Edit", edit_post_path(@post), class:"btn btn-warning" %>
      <%= button_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %>
    </div>
  </div>
  <div class="row mt-1">
    <p>
      <strong>Title:</strong> <%= @post.title %>
    </p>
  </div>
  <div class="row mt-1">
    <p>
      <strong>Views:</strong> <%= @post.views %>
    </p>
  </div>
  <div class="row mt-1">
    <p><strong>Author:</strong>
      <%= "#{@post.user.email} | #{@post.user.name} | #{pluralize(@post.user.views, "View")}" %>
    </p>
  </div>
  <div class="row mt-1">
    <strong>Body:</strong> <%= @post.body %>
  </div>
  <div class="row mt-1">
    <strong><%= pluralize(@post.comments.count, "Comment") %>:</strong>
    <% @post.comments.each do |comment| %>
      <div class="row mt-1">
        <%= comment.user.name %>
        <%= comment.body %>
      </div>
    <% end %>
  </div>
</div>
