<p style="color: green"><%= notice %></p>
<%= render @project %>
<div>
  <%= link_to "Edit this project", edit_project_path(@project) if current_user&.admin? %> |
  <%= link_to "Back to projects", projects_path, class: "btn btn-primary" %>
  <%= button_to "Destroy this project", @project, method: :delete  if current_user&.admin? %>
</div>
