<p style="color: green"><%= notice %></p>
<%= render @category %>
<% if current_user&.admin? %>
  <div>
    <%= link_to "Edit this category", edit_category_path(@category) %> |
    <%= link_to "Back to categories", categories_path %>
    <%= button_to "Destroy this category", @category, method: :delete %>
  </div>
<% end %>
