<div class="container">
  <h1>Set Your Address</h1>
  <%= form_for @address, method: :put, url: wizard_path do |f| %>
    <% if f.object.errors.any? %>
      <div class="error_messages">
        <% f.object.errors.full_messages.each do |error| %>
          <p style="color: red"><%= error %></p>
        <% end %>
      </div>
    <% end %>
    <div class="form-control">
      <legend>Your Address</legend>
      <div class="mt-2">
        <%= f.text_field :street, class: "form-control", placeholder: "Street...", required: true %>
      </div>
      <div class="input-group mt-2">
        <%= f.text_field :city, class: "form-control", placeholder: "City", required: true %>
        <%= f.text_field :state, class: "form-control", placeholder: "State", required: true %>
        <%= f.text_field :zip, class: "form-control", placeholder: "Zip", required: true %>
      </div>
      <div class="input-group mt-2">
        <%= f.text_field :country, class: "form-control", placeholder: "Country", required: true %>
      </div>
      <div class="row">
        <div class="col-10"></div>
        <div class="col-2 d-flex justify-content-end mt-2 btn-group">
          <%= render 'links' %>
          <%= f.submit 'Next Step', class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
  <style>
    div.field_with_errors {
      display: inline;
    }
  </style>
</div>
